body,
    html {
      height: 100%;
      background: linear-gradient(135deg, #70e1f5 0%, #ffd194 100%);
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .selection-box {
      display: flex;
      gap: 30px;
    }

    .box {
      width: 250px;
      height: 150px;
      background-color: white;
      border: 3px solid #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      cursor: pointer;
      border-radius: 15px;
      transition: 0.3s;
    }

    .box:hover {
      border-color: #007bff;
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }


    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


    .text-to-speech {
      display: none;
      /* display: flex; */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: linear-gradient(135deg, #70e1f5 0%, #ffd194 100%);
      font-size: 18px;
      box-sizing: border-box;
    }


    h1 {
      font-size: 3rem;
      color: white;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    h1 span {
      color: #6e45e2;
    }

    .search-text {
      width: 100%;
      max-width: 510px;
      margin-bottom: 20px;
    }


    .search-text textarea {
      padding: 15px;
      border-radius: 12px;
      width: 100%;
      height: 250px;
      font-size: 1.2rem;
      border: none;
      outline: none;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      resize: none;
      transition: all 0.3s ease;
    }



    .search-text textarea:focus {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }


    .languages {
      width: 100%;
      max-width: 510px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 10px;
    }



    .languages select {
      width: 70%;
      padding: 10px;
      border-radius: 12px;
      font-size: 1rem;
      border: 2px solid #ddd;
      outline: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
    }



    .languages select:focus {
      border-color: #6e45e2;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }



    .languages button {
      background: linear-gradient(to right, #70e1f5, #ffd194);
      border: none;
      padding: 12px 25px;
      font-size: 1.1rem;
      font-weight: bold;
      color: black;
      border-radius: 12px;
      cursor: pointer;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
    }



    .languages button:hover {
      background-position: right center;
      color: white;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }


    @media (max-width: 768px) {
      h1 {
        font-size: 2.5rem;
      }

      .search-text textarea {
        font-size: 1rem;
      }

      .languages select,
      .languages button {
        width: 48%;
      }


      .languages {
        flex-direction: column;
        align-items: center;
      }

      .Texts button {
        width: 48%;
      }

      .Texts {
        flex-direction: column;
        align-items: center;
      }

      .search-speech textarea {
        font-size: 1rem;
      }
    }

    @media (max-width: 480px) {
      h1 {
        font-size: 2rem;
      }

      .search-text textarea {
        font-size: 1rem;
      }


      .languages select,
      .languages button {
        width: 80%;
      }

      .Texts button {
        width: 80%;
      }

      .search-speech textarea {
        font-size: 1rem;
      }
    }


    /* Speech To Text */

    .speech-to-text {
      display: none;
      /* display: flex; */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: linear-gradient(135deg, #70e1f5 0%, #ffd194 100%);
      font-size: 18px;
      box-sizing: border-box;
    }


    .search-speech {
      width: 100%;
      max-width: 510px;
      margin-bottom: 20px;
    }

    .search-speech textarea {
      padding: 15px;
      border-radius: 12px;
      width: 100%;
      height: 250px;
      font-size: 1.2rem;
      border: none;
      outline: none;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      resize: none;
      transition: all 0.3s ease;
    }

    .search-speech textarea:focus {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

    .Texts {
      width: 100%;
      max-width: 510px;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
    }


    .Texts button {
      background: linear-gradient(to right, #70e1f5, #ffd194);
      border: none;
      padding: 12px 25px;
      font-size: 1.1rem;
      font-weight: bold;
      color: black;
      border-radius: 12px;
      cursor: pointer;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
    }


    .Texts button:hover {
      background-position: right center;
      color: white;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }